rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() { return request.auth != null; }
    function isAdmin() {
      return signedIn() && exists(/databases/$(database)/documents/admins/$(request.auth.uid)) && get(/databases/$(database)/documents/admins/$(request.auth.uid)).data.active != false;
    }

    match /admins/{uid} {
      allow read: if signedIn() && request.auth.uid == uid;
      allow write: if false;
    }
    match /news/{id} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
    match /users/{uid} {
      allow read, create, update, delete: if isAdmin();
    }
    match /pages/{pageId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
  }
}
